@font-face {
    font-family: Nimbus;
    src: url('../fonts/NimbusSanL-Reg.otf');
}

.icon-goodreads::before {
    font-family: Nimbus;
    font-style: normal;
    content: "g";
    font-size: 19px;
}

.portfolio-details .portfolio .portfolio-wrap .portfolio-links a{
    width: 100%;
}

.portfolio-details .portfolio .portfolio-item{
    margin-bottom: 0px;
}

.parallax {
    /* Background image */
    background-image: url("../img/portfolio/50-anos-25abril-Leiria/IMG_20240425_152812.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax-apulia {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/2024_05_11_1134.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-igreja {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/IMG_20240511_154509.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-desfile {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/2024_05_11_1414.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-acesso-piodao {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/IMG_20240610_165314.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-piodao {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/2024_06_10_2145.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-foz-degua {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/2024_06_10_2283.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-prova-ocr {
    /* Background image */
    background-image: url("../img/portfolio/ocr-police-challenge-leiria/2024_07_07_2542.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-equipa {
    /* Background image */
    background-image: url("../img/portfolio/ocr-police-challenge-leiria/2024_07_07_2625.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-rio {
    /* Background image */
    background-image: url("../img/portfolio/ocr-police-challenge-leiria/2024_07_07_2709.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-final {
    /* Background image */
    background-image: url("../img/portfolio/ocr-police-challenge-leiria/2024_07_07_3294.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-aves {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_3337.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-pelicanos {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_3549.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-primatas {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_3692.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bosque {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_4398.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-savana {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_4339.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-selva {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_3311.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-golfinhos {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_4110.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-pre-repteis-3 {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/repteis-3.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-pre-repteis-2 {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/repteis-2.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-pre-repteis-1 {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/repteis-1.png");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-repteis {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_4085.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-fofinhos {
    /* Background image */
    background-image: url("../img/portfolio/zoo-lisboa/2024_07_16_4477.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-recinto {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_4571.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-castelo {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_4622.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-artfalco {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_4763.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-demo-armas {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_4685.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-jograis {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_4765.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-vala-real {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_5217.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-justa-darmas {
    /* Background image */
    background-image: url("../img/portfolio/leiria-medieval/2024_07_21_5029.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-vuelta-fatima {
    /* Background image */
    background-image: url("../img/portfolio/la-vuelta/2024_08_18_5274.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-vuelta-prova {
    /* Background image */
    background-image: url("../img/portfolio/la-vuelta/2024_08_18_5291.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-vespas {
    /* Background image */
    background-image: url("../img/portfolio/vespas-24/2024_08_31_5476.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-vespas-passeio {
    /* Background image */
    background-image: url("../img/portfolio/vespas-24/2024_08_31_5720.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-baseaerea {
    /* Background image */
    background-image: url("../img/portfolio/mreal/IMG_7177.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-pista {
    /* Background image */
    background-image: url("../img/portfolio/mreal/IMG_7234.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-exposicoes {
    /* Background image */
    background-image: url("../img/portfolio/mreal/IMG_7666.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-cinotecnia {
    /* Background image */
    background-image: url("../img/portfolio/mreal/IMG_8142.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-kc-f16 {
    /* Background image */
    background-image: url("../img/portfolio/mreal/IMG_8360.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-chegada-capacetes {
    /* Background image */
    background-image: url("../img/portfolio/bencao-capacetes/IMG_8673.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-bencao {
    /* Background image */
    background-image: url("../img/portfolio/bencao-capacetes/IMG_8932.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-saida {
    /* Background image */
    background-image: url("../img/portfolio/bencao-capacetes/IMG_8988.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.border-yellow{
    --bs-border-opacity: 1;
    border-color: rgba(255,238,16,var(--bs-border-opacity)) !important;
}

#text-small{
    font-size: 15px!important;
}

.portfolio .portfolio-wrap .portfolio-links a {
    font-size: 20px!important;
}