@font-face {
    font-family: Nimbus;
    src: url('../fonts/NimbusSanL-Reg.otf');
}

.icon-goodreads::before {
    font-family: Nimbus;
    font-style: normal;
    content: "g";
    font-size: 19px;
}

.portfolio-details .portfolio .portfolio-wrap .portfolio-links a{
    width: 100%;
}

.portfolio-details .portfolio .portfolio-item{
    margin-bottom: 0px;
}

.parallax {
    /* Background image */
    background-image: url("../img/portfolio/50-anos-25abril-Leiria/IMG_20240425_152812.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax-apulia {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/2024_05_11_1134.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-igreja {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/IMG_20240511_154509.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-desfile {
    /* Background image */
    background-image: url("../img/portfolio/festa-das-rosas/2024_05_11_1414.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-acesso-piodao {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/IMG_20240610_165314.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-piodao {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/2024_06_10_2145.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-foz-degua {
    /* Background image */
    background-image: url("../img/portfolio/piodao-foz-degua/2024_06_10_2283.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-yellow{
    --bs-border-opacity: 1;
    border-color: rgba(255,238,16,var(--bs-border-opacity)) !important;
}

#text-small{
    font-size: 15px!important;
}

.portfolio .portfolio-wrap .portfolio-links a {
    font-size: 20px!important;
}